body{
  background-color: #BBD1EA;
}

h1{
  width: 20%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  background-color: #DAE3E5;
  padding: 20px;
  border-radius: 25px;
  
}

.list{
  display: flex;
  justify-content: space-around;
  padding: 1em;
  
}

.cake{
  text-align: left;
  background-color:#DAE3E5;
  padding: 20px;
  border-radius: 25px;
  border: 20px;
}

h2 {
  text-align: center;
}
.form{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}